
    html {
      font-family: "Trebuchet MS";
    }

    body {
      margin: 0px;
    }

    .titulo {
      color: white;
      width: auto;
      height: 35px;
      padding-left: 30px;
      line-height: 0.6;
      background-color: rgb(0, 133, 66);
    }

    img {
        width: 100%;
    }
    .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; /* Proporção 16:9 */
      height: 0;
      overflow: hidden;
    }
    
    .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media (max-width: 1081px) {
      .iframe-container {
        padding-bottom: 115%;/* Proporção 16:9 */
        padding-top: 55%;
      }
    }
    .meu-link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
}
.meu-link:hover {
  color: rgb(168, 180, 0); /* Define a cor do texto quando o mouse passar por cima */
}
